In [1]:
import pandas as pd      
import numpy as np 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

In [2]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print(" r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [3]:
df = pd.read_csv("Advertising.csv")
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [5]:
X= df.drop("sales", axis=1)
y= df["sales"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
filename = 'my_model'
pickle.dump(model, open(filename, 'wb'))

In [6]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [7]:
y_pred = model.predict(X_test)
eval_metrics(y_test, y_pred)

 r2_score: 0.8609466508230368
 mae: 1.5116692224549086
 mse: 3.79679723671522
 rmse: 1.9485372043446387

**deployment**

In [8]:
richard_model = pickle.load(open('my_model', 'rb'))

In [9]:
columns=list(X.columns)
columns

['TV', 'radio', 'newspaper']

In [10]:
my_dict = {
    "TV": 150,
    "radio": 25,
    "newspaper": 30,
}

In [11]:
df = pd.DataFrame.from_dict([my_dict])

In [13]:
df

    TV  radio  newspaper
0  150     25         30

In [14]:
prediction = richard_model.predict(df)
print(prediction)

[14.50650223]

In [15]:
print("The estimated value of sales is {}. ".format(int(prediction[0])))

The estimated value of sales is 14.